In [3]:
import csv
import json
import pandas as pd


with open('Telco-Customer-Churn.json', encoding='utf-8') as inputfile:
    data = json.loads(inputfile.read())

df = pd.json_normalize(data)

In [ ]:
df.head()

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

**Arrumando os Nomes das Colunas**

In [4]:
df.rename(columns={"customerID" : "clienteId",
                   "Churn":"cancelouPlano",
                   "customer.gender":"genero",
                   "customer.SeniorCitizen":"cidadaoIdoso",
                   "customer.Partner":"possuiParceiro",
                   "customer.Dependents":"possuiDependentes",
                   "customer.tenure":"messesContrato",
                   "phone.PhoneService":"servicoTelefone",
                   "phone.MultipleLines":"multiplasLinhas",
                   "internet.OnlineSecurity":"segurancaOnline",
                   "internet.InternetService":"servicoInternet",
                   "internet.OnlineBackup":"backupOnline",
                   "internet.DeviceProtection":"protecaoDispositivo",
                   "internet.TechSupport":"suporteTecnico",
                   "internet.StreamingTV":"streamingTv",
                   "internet.StreamingMovies":"streamingFilmes",
                   "account.Contract":"tipoContrato",
                   "account.PaperlessBilling":"contaOnline",
                   "account.PaymentMethod":"metodoPagamento",
                   "account.Charges.Monthly":"totalGastoMes",
                   "account.Charges.Total":"totalGasto"}, inplace=True)

In [ ]:
df.head()

,clienteId,cancelouPlano,genero,cidadaoIdoso,possuiParceiro,possuiDependentes,messesContrato,servicoTelefone,multiplasLinhas,servicoInternet,...,backupOnline,protecaoDispositivo,suporteTecnico,streamingTv,streamingFilmes,tipoContrato,contaOnline,metodoPagamento,totalGastoMes,totalGasto
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

**Busca de Valores Nulos**

In [5]:
for col in df.columns:
  vazio = df[col].isnull().sum()
  
  print(f'A coluna {col} possui {vazio} registros vazios')

A coluna clienteId possui 0 registros vazios
A coluna cancelouPlano possui 0 registros vazios
A coluna genero possui 0 registros vazios
A coluna cidadaoIdoso possui 0 registros vazios
A coluna possuiParceiro possui 0 registros vazios
A coluna possuiDependentes possui 0 registros vazios
A coluna messesContrato possui 0 registros vazios
A coluna servicoTelefone possui 0 registros vazios
A coluna multiplasLinhas possui 0 registros vazios
A coluna servicoInternet possui 0 registros vazios
A coluna segurancaOnline possui 0 registros vazios
A coluna backupOnline possui 0 registros vazios
A coluna protecaoDispositivo possui 0 registros vazios
A coluna suporteTecnico possui 0 registros vazios
A coluna streamingTv possui 0 registros vazios
A coluna streamingFilmes possui 0 registros vazios
A coluna tipoContrato possui 0 registros vazios
A coluna contaOnline possui 0 registros vazios
A coluna metodoPagamento possui 0 registros vazios
A coluna totalGastoMes possui 0 registros vazios
A coluna totalGasto possui 0 registros vazios

**Capturando informações sobre o Dataset**

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   clienteId            7267 non-null   object
 1   cancelouPlano        7267 non-null   object
 2   genero               7267 non-null   object
 3   cidadaoIdoso         7267 non-null   int64
 4   possuiParceiro       7267 non-null   object
 5   possuiDependentes    7267 non-null   object
 6   messesContrato       7267 non-null   int64
 7   servicoTelefone      7267 non-null   object
 8   multiplasLinhas      7267 non-null   object
 9   servicoInternet      7267 non-null   object
 10  segurancaOnline      7267 non-null   object
 11  backupOnline         7267 non-null   object
 12  protecaoDispositivo  7267 non-null   object
 13  suporteTecnico       7267 non-null   object
 14  streamingTv          7267 non-null   object
 15  streamingFilmes      7267 non-null   object
 16  tipoContrato         7267 non-null   object
 17  contaOnline          7267 non-null   object
 18  metodoPagamento      7267 non-null   object
 19  totalGastoMes        7267 non-null   float64
 20  totalGasto           7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [7]:
for col in df.columns:
  for lin, posicao in zip(df[col], range(df[col].shape[0])):
    if lin == " ":
      df.loc[posicao,col] = 0
      print('Alterado')
    if lin == '':
      df.loc[posicao,col] = 'Sem Informação'
      print('Alterado')

Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado
Alterado

**Alterando Tipos das Colunas para Numerico e float**

In [8]:
from numpy import float64
#df['totalGasto'] = df['totalGasto'].astype('float64')
df['totalGasto'] = df['totalGasto'].map(float64)
df['totalGasto'].unique()

array([ 593.3 ,  542.4 ,  280.85, ...,  742.9 , 4627.65, 3707.6 ])

In [9]:
df['cidadaoIdoso'] = df['cidadaoIdoso'].replace([0],'Não')
df['cidadaoIdoso'] = df['cidadaoIdoso'].replace([1],'Sim')

df['cidadaoIdoso'].unique()

array(['Não', 'Sim'], dtype=object)

**TIPOS DE DADOS**

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   clienteId            7267 non-null   object
 1   cancelouPlano        7267 non-null   object
 2   genero               7267 non-null   object
 3   cidadaoIdoso         7267 non-null   object
 4   possuiParceiro       7267 non-null   object
 5   possuiDependentes    7267 non-null   object
 6   messesContrato       7267 non-null   int64
 7   servicoTelefone      7267 non-null   object
 8   multiplasLinhas      7267 non-null   object
 9   servicoInternet      7267 non-null   object
 10  segurancaOnline      7267 non-null   object
 11  backupOnline         7267 non-null   object
 12  protecaoDispositivo  7267 non-null   object
 13  suporteTecnico       7267 non-null   object
 14  streamingTv          7267 non-null   object
 15  streamingFilmes      7267 non-null   object
 16  tipoContrato         7267 non-null   object
 17  contaOnline          7267 non-null   object
 18  metodoPagamento      7267 non-null   object
 19  totalGastoMes        7267 non-null   float64
 20  totalGasto           7267 non-null   float64
dtypes: float64(2), int64(1), object(18)
memory usage: 1.2+ MB

In [10]:
for col in df.columns:
  print(f' A {col} tem esses registro:{df[col].unique()}')

 A clienteId tem esses registro:['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']
 A cancelouPlano tem esses registro:['No' 'Yes' 'Sem Informação']
 A genero tem esses registro:['Female' 'Male']
 A cidadaoIdoso tem esses registro:['Não' 'Sim']
 A possuiParceiro tem esses registro:['Yes' 'No']
 A possuiDependentes tem esses registro:['Yes' 'No']
 A messesContrato tem esses registro:[ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 11 37 49 66
 67 20 43 59 12 27  2 25 29 14 35 64 39 40  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 51 31 36 17 18 38 42
  0]
 A servicoTelefone tem esses registro:['Yes' 'No']
 A multiplasLinhas tem esses registro:['No' 'Yes' 'No phone service']
 A servicoInternet tem esses registro:['DSL' 'Fiber optic' 'No']
 A segurancaOnline tem esses registro:['No' 'Yes' 'No internet service']
 A backupOnline tem esses registro:['Yes' 'No' 'No internet service']
 A protecaoDispositivo tem esses registro:['No' 'Yes' 'No internet service']
 A suporteTecnico tem esses registro:['Yes' 'No' 'No internet service']
 A streamingTv tem esses registro:['Yes' 'No' 'No internet service']
 A streamingFilmes tem esses registro:['No' 'Yes' 'No internet service']
 A tipoContrato tem esses registro:['One year' 'Month-to-month' 'Two year']
 A contaOnline tem esses registro:['Yes' 'No']
 A metodoPagamento tem esses registro:['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
 A totalGastoMes tem esses registro:[65.6  59.9  73.9  ... 91.75 68.8  67.85]
 A totalGasto tem esses registro:[ 593.3   542.4   280.85 ...  742.9  4627.65 3707.6 ]

**Alterações de Valores**

In [14]:
for col in df.columns:
  for lin, posicao in zip(df[col], range(df[col].shape[0])):
    if lin == 'No':
      df.loc[posicao,col] = 'Não'
    if lin == 'Yes':
      df.loc[posicao,col] = 'Sim'
    if lin == 'Female':
      df.loc[posicao,col] = 'Feminino'
    if lin == 'Male':
      df.loc[posicao,col] = 'Masculino'
    if lin == 'No phone service':
      df.loc[posicao,col] = 'Sem serviço de telefone'
    if lin == 'Fiber optic':
      df.loc[posicao,col] = 'Fibra ótica'
    if lin == 'No internet service':
      df.loc[posicao,col] = 'Sem serviço de internet'
    if lin == 'One year':
      df.loc[posicao,col] = 'Um ano'
    if lin == 'Month-to-month':
      df.loc[posicao,col] = 'Mensal'
    if lin == 'Two year':
      df.loc[posicao,col] = 'Dois anos'
    if lin == 'Mailed check':
      df.loc[posicao,col] = 'Cheque enviado'
    if lin == 'Electronic check':
      df.loc[posicao,col] = 'Cheque eletronico'
    if lin == 'Credit card (automatic)':
      df.loc[posicao,col] = 'Cartão de crédito (automático)'
    if lin == 'Bank transfer (automatic)':
      df.loc[posicao,col] = 'Transferência bancária (automático)'

In [15]:
for col in df.columns:
  print(f' A {col} tem esses registro:{df[col].unique()}')

 A clienteId tem esses registro:['0002-ORFBO' '0003-MKNFE' '0004-TLHLJ' ... '9992-UJOEL' '9993-LHIEB'
 '9995-HOTOH']
 A cancelouPlano tem esses registro:['Não' 'Sim' 'Sem Informação']
 A genero tem esses registro:['Feminino' 'Masculino']
 A cidadaoIdoso tem esses registro:['Não' 'Sim']
 A possuiParceiro tem esses registro:['Sim' 'Não']
 A possuiDependentes tem esses registro:['Sim' 'Não']
 A messesContrato tem esses registro:[ 9  4 13  3 71 63  7 65 54 72  5 56 34  1 45 50 23 55 26 69 11 37 49 66
 67 20 43 59 12 27  2 25 29 14 35 64 39 40  6 30 70 57 58 16 32 33 10 21
 61 15 44 22 24 19 47 62 46 52  8 60 48 28 41 53 68 51 31 36 17 18 38 42
  0]
 A servicoTelefone tem esses registro:['Sim' 'Não']
 A multiplasLinhas tem esses registro:['Não' 'Sim' 'Sem serviço de telefone']
 A servicoInternet tem esses registro:['DSL' 'Fibra ótica' 'Não']
 A segurancaOnline tem esses registro:['Não' 'Sim' 'Sem serviço de internet']
 A backupOnline tem esses registro:['Sim' 'Não' 'Sem serviço de internet']
 A protecaoDispositivo tem esses registro:['Não' 'Sim' 'Sem serviço de internet']
 A suporteTecnico tem esses registro:['Sim' 'Não' 'Sem serviço de internet']
 A streamingTv tem esses registro:['Sim' 'Não' 'Sem serviço de internet']
 A streamingFilmes tem esses registro:['Não' 'Sim' 'Sem serviço de internet']
 A tipoContrato tem esses registro:['Um ano' 'Mensal' 'Dois anos']
 A contaOnline tem esses registro:['Sim' 'Não']
 A metodoPagamento tem esses registro:['Cheque enviado' 'Cheque eletronico' 'Cartão de crédito (automático)'
 'Transferência bancária (automático)']
 A totalGastoMes tem esses registro:[65.6  59.9  73.9  ... 91.75 68.8  67.85]
 A totalGasto tem esses registro:[ 593.3   542.4   280.85 ...  742.9  4627.65 3707.6 ]

In [16]:
df.insert(18, 'gastoDiario', round(df['totalGastoMes']/30))
df.head()

,clienteId,cancelouPlano,genero,cidadaoIdoso,possuiParceiro,possuiDependentes,messesContrato,servicoTelefone,multiplasLinhas,servicoInternet,...,protecaoDispositivo,suporteTecnico,streamingTv,streamingFilmes,tipoContrato,contaOnline,gastoDiario,metodoPagamento,totalGastoMes,totalGasto
0,0002-ORFBO,Não,Feminino,Não,Sim,Sim,9,Sim,Não,DSL,...,Não,Sim,Sim,Não,Um ano,Sim,2.0,Cheque enviado,65.6,593.30
1,0003-MKNFE,Não,Masculino,Não,Não,Não,9,Sim,Sim,DSL,...,Não,Não,Não,Sim,Mensal,Não,2.0,Cheque enviado,59.9,542.40
2,0004-TLHLJ,Sim,Masculino,Não,Não,Não,4,Sim,Não,Fibra ótica,...,Sim,Não,Não,Não,Mensal,Sim,2.0,Cheque eletronico,73.9,280.85
3,0011-IGKFF,Sim,Masculino,Sim,Sim,Não,13,Sim,Não,Fibra ótica,...,Sim,Não,Sim,Sim,Mensal,Sim,3.0,Cheque eletronico,98.0,1237.85
4,0013-EXCHZ,Sim,Feminino,Sim,Sim,Não,3,Sim,Não,Fibra ótica,...,Não,Sim,Sim,Não,Mensal,Sim,3.0,Cheque enviado,83.9,267.40